.splash-screen {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #59813E, #81AF62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-image {
  max-width: 80%;
  max-height: 80%;
}
