.splash-screen {
  background-color: #6DA34A;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  text-align: center;
}

.logo {
  max-width:200%;
  max-height: 100%;
}
